<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Input fields</mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/input/overview">
        https://material.angular.io/components/input/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <input-example></input-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Select</mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/select/overview">
        https://material.angular.io/components/select/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <select-example></select-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Trees</mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/tree/overview">
        https://material.angular.io/components/tree/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <tree-nested-overview-example></tree-nested-overview-example>
  </mat-card-content>
</mat-card>

<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title>Mat List </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/list/overview">
        https://material.angular.io/components/list/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <list-example></list-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Tabs </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/tabs/overview">
        https://material.angular.io/components/tabs/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <tabs-example></tabs-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Chips </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/chips/overview">
        https://material.angular.io/components/chips/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <chips-example></chips-example>
    <chips-input-example></chips-input-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Stepper </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/stepper/overview">
        https://material.angular.io/components/stepper/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <stepper-example></stepper-example>
  </mat-card-content>
</mat-card>

<mat-card class="double-column">
  <mat-card-header>
    <mat-card-title>Mat Expansion panel </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/expansion/overview">
        https://material.angular.io/components/expansion/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <expansion-panel-example></expansion-panel-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Datepicker </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/datepicker/overview">
        https://material.angular.io/components/datepicker/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <datepicker-example></datepicker-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Dialog </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/dialog/overview">
        https://material.angular.io/components/dialog/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <dialog-example></dialog-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Checkbox </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/checkbox/overview">
        https://material.angular.io/components/checkbox/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <checkbox-example></checkbox-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Slide toggle </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/slide-toggle/overview">
        https://material.angular.io/components/slide-toggle/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <slide-toggle-example></slide-toggle-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Slider </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/slider/overview">
        https://material.angular.io/components/slider/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <slider-example></slider-example>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mat Badge </mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/badge/overview">
        https://material.angular.io/components/badge/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <badge-example></badge-example>
  </mat-card-content>
</mat-card>

<mat-card class="double-column">
  <mat-card-header>
    <mat-card-title>Mat Table</mat-card-title>
    <mat-card-subtitle>
      <a href="https://material.angular.io/components/table/overview">
        https://material.angular.io/components/table/overview
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <table-example></table-example>
  </mat-card-content>
</mat-card>
