<mat-toolbar class="mat-elevation-z4" color="primary" fullscreen>
  <span>Density in Angular Material components</span>
</mat-toolbar>

<article class="mat-app-background">
  <mat-tab-group
    animationDuration="10ms"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    <mat-tab label="Introduction">
      <density-intro></density-intro>
    </mat-tab>

    <mat-tab label="Density 0">
      <div class="density-0-section"><material-list></material-list></div>
    </mat-tab>
    <mat-tab label="Density -1">
      <div class="density-1-section"><material-list></material-list></div>
    </mat-tab>
    <mat-tab label="Density -2">
      <div class="density-2-section"><material-list></material-list></div>
    </mat-tab>
    <mat-tab label="Density -3">
      <div class="density-3-section"><material-list></material-list></div>
    </mat-tab>
    <mat-tab label="Density minimum">
      <div class="density-minimum-section"><material-list></material-list></div>
    </mat-tab>
  </mat-tab-group>
</article>
