<section>
  <p>
    This Angular application shows how the density theming configuration affects
    the
    <a href="https://material.angular.io/">Angular Material components</a>.
  </p>
</section>
<section>
  <h2>Problem #1 -3 global density crashes compilation</h2>
  <p>
    <a href="https://github.com/angular/components/issues/26613"
      >GitHub issue 26613</a
    >
    - <strong>Resolved!</strong>
  </p>
</section>
<section>
  <h2>Problem #2 mat-label disappears when density < -1</h2>
  <p>
    <a href="https://github.com/angular/components/issues/26579"
      >GitHub issue 26579</a
    >
  </p>
  <p>
    The <em>mat-label</em> disappears when the density of
    <em>mat-form-field</em> with <em>appearance="fill"</em> is set to lower than
    -1.
  </p>
</section>
