<section>
  <p>
    Currently (<em>@angular/material v15.1.5</em>), the compiler throws the
    following error when setting density globally "<em
      >@include mat.all-component-densities(-3);</em
    >"
  </p>
  <pre>
      Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
      SassError: "mdc-density: height must be between 24px and 32px (inclusive), but received 20px."
      ╷
      632 │     $height: density.prop-value(
        │ ┌────────────^
        633 │ │     $density-config: $density-config,
        634 │ │     $density-scale: $density-scale,
        635 │ │     $property-name: height,
        636 │ │   );
        │ └───^
        ╵
        @material/chips/_chip-theme.scss 632:12                                     density()
        node_modules/@angular/material/chips/_chips-theme.scss 97:5                 density()
        node_modules/@angular/material/core/density/private/_all-density.scss 59:3  all-component-densities()
        src/styles.scss 41:3   
  </pre>
  <p>
    This should be possible based on
    <a
      href="https://m3.material.io/foundations/layout/understanding-layout/spacing#da94f612-f274-49ab-aec5-f03dab53be8e"
    >
      Material documentation about Density scale:</a
    >
    <em
      >"The density scale is numbered, starting at 0 for a component’s default
      density. The scale moves to negative numbers
      <strong>(-1, -2, -3)</strong> as space decreases,..."</em
    >
  </p>
</section>
